css
body {
    width: 95%;
    margin: 15px auto;
    background-image: url('/images/shsu.png');
    background-repeat: repeat-y;
    background-position: right top;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #f4f4f4;
    nav_menu ul { list-style-type: none; }
}

nav ul li {
    display: inline;
    margin-right: 15px;
    nav_menu ul { list-style-type: none; }
    #nav_menu ul li { float: left; }
    #nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0; /* padding above and below a
    elements */
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
    #nav_menu ul li a.lastitem { border-right: none; }
    #nav_menu ul li a.current { color: yellow; }
}

article {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}

aside {
    width: 20%;
    display: inline-block;
    position: fixed;
    right: 0;
    width: 20%;
    float: right;
    background-color: #ffebc6;
    padding: 1em;
}

aside ul {
    list-style-type: disc; /* or any other style */
}

footer {
    clear: both;
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

img {
    display: block;
    margin: 15px 0;
}