nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
text-align: center;
display: block;
width: 175px;
padding: 1em 0; /* padding above and below a
elements */
text-decoration: none;
background-color: blue;
color: white;
font-weight: bold;
border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }
#nav_menu ul li a.current { color: yellow; }

/*navigation menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: white;
    overflow: hidden;
    padding-left: 40px;
    padding-bottom: 10px
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}
html {
    background: linear-gradient(to left, white 0%, lightblue 100%);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 90%;
    background-color: white;
    margin: 10px auto;
    padding: 10px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba (0,0,0,0.2);
}

header {
    border-bottom: 3px solid darkblue; /* Add a border to the bottom of the header */
    padding-bottom: 3em; /* Ensure there's space around the content */
}

article {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    clear: left;
    width: 70%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
}

aside {
    width: 20%;
    display: inline-block;
    position: fixed;
    right: 0;
    width: 20%;
    float: right;
    background-color: lightblue;
    padding: 1em;
    border: 2px solid green;
}

aside ul {
    list-style-type: disc; /* or any other style */
}

footer {
    clear: both;
    text-align: center;
    padding: 10px 0;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

img {
    display: block;
    margin: 15px 0;
}